<form (submit)="enviar()" [formGroup]="regForm">
  <h1 mat-dialog-title>Contáctanos</h1>
  <mat-dialog-content width='full'>
    <mat-form-field example-full-width>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label full-width-field>Email</mat-label>
      <input matInput formControlName="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="tel" required>
      <mat-error *ngIf="tel.invalid">{{getErrorMessageTel()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Comentario</mat-label>
      <textarea matInput formControlName="com"></textarea>
    </mat-form-field>
    <br>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" mat-button mat-dialog-close="true" (click)="save()">Guardar</button>
    <button mat-button mat-dialog-close="false" (click)="close()">Salir</button>
  </mat-dialog-actions>
</form>
