<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap" rel="stylesheet">
  <title>Age Of Empires</title>
</head>

<body>
  <header>
    <img src="../assets/microsoft.svg" alt="microsoft logo">
  </header>
  <main>
    <section class="intro">
      <div class="back-video">
        <div class="back-video-blur">
          <iframe width="560" height="315"
            src="https://www.youtube.com/embed/QFlVNtGJVDU?playlist=QFlVNtGJVDU&loop=1&autoplay=1&start=20&end=50&mute=1&“controls=1&showinfo=0"
            frameborder="0" allow="accelerometer; autoplay; loop; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="overlay">
        <div class="front-video">
          <iframe width="560" height="315"
            src="https://www.youtube.com/embed/QFlVNtGJVDU?playlist=QFlVNtGJVDU&loop=1&autoplay=1&start=20&end=50&mute=1&“controls=1&showinfo=0"
            frameborder="0" allow="accelerometer;  autoplay; loop; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="video-content">
        <img src="../assets/Aoe_Logo.png" alt="Age Of Empires Logo">
        <p>Valentina Hernández</p>
      </div>
    </section>
    <section class="app-civilizations">
      <app-civilizations></app-civilizations>
    </section>
    <section class="app-units">
      <app-units></app-units>
    </section>
    <section class="app-structures">
      <app-structure></app-structure>
    </section>
    <section class="app-technologies">
      <app-technology></app-technology>
    </section>
    <div class="form">
      <button mat-fab mat-button (click)="openDialog()">
        <mat-icon>perm_identity</mat-icon>
      </button>
    </div>
  </main>
</body>

</html>
<router-outlet></router-outlet>
