header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #172122;
}

header img {
  height: 55%;
}
.intro{
    width: 100%;
    height:75vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(177,119,59,0.5);
    z-index: 1;
}
.back-video{
    position: absolute;
    width: 100%;
    height:75vh;
    background-color: rgba(99,110,106,0.3);    
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.overlay{
    position: absolute;
    width: 90%;
    height: 60vh;   
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.video-content{
    position: absolute;
    width: 60%;
    height: 40vh;   
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(18,7,1,0.4);
}
.video-content img{
    width: 30%;
}
.video-content p{
    background-color: rgba(18,7,1,0.8);
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1pt;
    padding: 1.5rem 2rem;
}
.front-video,.back-video-blur{
    width: 100%;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.front-video iframe, .back-video-blur iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.24);
    -moz-transform: scale(1.24);
    -ms-transform: scale(1.24);
    -o-transform: scale(1.24);
}
.back-video iframe{
    filter: blur(8px);
}
.mat-fab {
  position: fixed;
  z-index: 10;
  margin: 2rem;
  bottom: 0;
  left: 0;
  background-color: #b0a166;
  color: #fff;
}
@media (min-width: 1200px) and (max-width:1600px){
  .intro, .back-video, .back-video-blur{
    height: 70vh;
  }
  .overlay, .front-video{
    height: 60vh;
  }
  .video-content{
    height: 50vh;
  }
  .video-content img{
    padding-top: 1rem;
    width: 40%;
  }
}
@media (min-width: 768px) and (max-width:1199px) {
  .intro, .back-video, .back-video-blur{
    height: 50vh;
  }
  .overlay, .front-video{
    height: 40vh;
  }
  .video-content{
    height: 30vh;
  }
  .video-content img{
    padding-top: 1rem;
    width: 50%;
  }
}
@media (min-width: 725px) and (max-width: 768px) {
  .intro, .back-video, .back-video-blur{
    height: 50vh;
  }
  .overlay, .front-video{
    height: 40vh;
  }
  .video-content{
    height: 30vh;
    width: 70%;
  }
  .video-content img{
    padding-top: 1rem;
    width: 60%;
    padding-bottom: 0;
  }
  .video-content p{
    margin-top: 0;
  }
}
@media (max-width: 725px) {
  header{
    height: 5rem;
  }
  .intro, .back-video, .back-video-blur{
    height: 60vh;
  }
  .overlay, .front-video{
    height: 50vh;
  }
  .video-content{
    height: 40vh;
    width: 70%;
  }
  .video-content img{
    padding-top: 1rem;
    width: 70%;
    padding-bottom: 0;
  }
  .video-content p{
    width: 50%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}