<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Age Of Empires</title>
</head>

<body>
  <header>
    <img src="../assets/microsoft.svg" alt="microsoft logo">
  </header> 
  <main>
    <section class="video">
      <div class="videoB">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/QFlVNtGJVDU?playlist=QFlVNtGJVDU&loop=1&autoplay=1&start=20&end=50" frameborder="0" allow="accelerometer; autoplay; loop; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      </div>
      <div class="overlay">
        <div class="videoF">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/QFlVNtGJVDU?playlist=QFlVNtGJVDU&loop=1&autoplay=1&start=20&end=50" frameborder="0" allow="accelerometer;  autoplay; loop; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="videoF_content">
          <img src="../assets/Aoe_Logo.png" alt="Age Of Empires Logo">
          <h4>Valentina Hernández</h4>
      </div>
      </div>
    </section>
    <section class="icon">
    </section>
    <section>
      <app-civilizations></app-civilizations>
    </section>
    <div class="form">
      <button mat-fab mat-button (click)="openDialog()">
        <mat-icon>perm_identity</mat-icon>
      </button>
    </div>
  </main>
</body>

</html>
<router-outlet></router-outlet>
