<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap" rel="stylesheet">
  <title>Age Of Empires</title>
</head>

<body>
  <h1>{{title}}</h1>
  <main>
    <div class="grid-container">
      <div class="content">
        <div class="content-icon">

          <div class="wrapper">
            <section class="hex-grid">
              <div *ngFor="let su of sus.structures | slice:1:13" class="grid-item repeat-animation">
                <div class="inner">
                  <div class="inner-inner" style="background-color: #b0a166;">
                    <a (click)='!!onSelect(su)' class="grid-info">
                    </a>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <app-sus-details [selectedN]='selectedN'></app-sus-details>
        </div>
        <div class="content-image">
          <div class="full-icon-image">
            <div class="image_i"></div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
