<p>
  civilizations works!
</p>
<hr>
<hr>


<main>
  <!-- 
  <h3>CIVILIZACIÓN</h3>
  <mat-card *ngFor="let civ of civs">
    <mat-card-subtitle>
      <h2 style=color:black;>{{civ.title}}</h2>
    </mat-card-subtitle>
    <img [src]="imags" mat-card-image>
    <mat-card-content>
      <p>Album Id: {{civ.albumId}}</p>
      <p>Id : {{civ.id}}</p>
    </mat-card-content>
  </mat-card>
-->
  <div class="bee-icon">
    <div class="icon-option">
      <div *ngFor="let civ of civs" class="icon">
        <div class="icon-inside">
          <div class="icon-image">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="full-icon-image">
    
  </div>
</main>
