body{
  margin-top: 6rem;
  margin-bottom: 6rem;
  color:#1a0d04;
  font-family: 'Raleway';
}
h1{
  text-align: center;
  font-size: 2rem;
}
.hex-grid {
  position: relative;
  width: 80%;
  left: 10%;
  padding-top: 120px;
}
.content-image{
  height:auto;
  z-index:1;
}
.full-icon-image{ 
  margin: auto;
  width: 30%;
  height: 100%; 
  background-image:url(../../assets/Back-Full-Img.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 2;
}

@media (max-width: 767px) {
  .hex-grid {
    width: 100%;
    left: 0;
  }
}
.hex-grid .grid-item {
  position: relative;
  display: inline-block;
  float: left;
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
  cursor: pointer;
}
@media (max-width: 633px) {
  .hex-grid{
    width: 150%;
    margin-left: 10%;
    padding-top: 8%;
  }
  .hex-grid .grid-item {
    width: 20%;
    margin: -3.5% -6%;
    margin-bottom: 0%;
  }
  .hex-grid .grid-item:nth-child(2n+1) {
    margin-top: 1%;
  }
  .hex-grid .grid-item:nth-child(8n+9) {
    clear: left;
  }
  .content-icon{
    display:flex;
    flex-direction: column;
    position: relative;
  }  
  .content{
    display:flex;
    flex-direction: row;
    position: relative;
    flex-flow: row wrap;
  }  
  .content-icon, .content-image{
    width: 50%;
  }
  .content-image{
    height:20vh;
    z-index:1;
  }
}
@media (min-width: 634px) and (max-width: 1022px) {
  .hex-grid{
    width: 120%;
    margin-left: 10%;
    padding-top:50px;
  }
  .hex-grid .grid-item {
    width: 20%;
    margin: -3.5% -6%;
    margin-bottom: 0%;
  }
  .hex-grid .grid-item:nth-child(2n+2) {
    margin-top: 1%;
  }
  .hex-grid .grid-item:nth-child(8n+9) {
    clear: left;
  }
  .content-icon{
    display:flex;
    flex-direction: column;
    position: relative;
  }  
  .content{
    display:flex;
    flex-direction: row;
    position: relative;
    flex-flow: row wrap;
  }  
  .content-icon, .content-image{
    width: 50%;
  }
  .content-image{
    height:30vh;
    z-index:1;
  }
  .full-icon-image{ 
    margin: auto;
    height: 100%;
  }
}
@media (min-width: 1023px) and (max-width: 1599px) {
  .hex-grid{
    width: 100%;
    margin-left: 10%;
  }
  .hex-grid .grid-item {
    width: 20%;
    margin: -3.5% -6%;
    margin-bottom: 0%;
  }
  .hex-grid .grid-item:nth-child(2n+1) {
    margin-top: 1%;
  }
  .hex-grid .grid-item:nth-child(8n+9) {
    clear: left;
  }    
  .content-icon{
    display:flex;
    flex-direction: column;
    position: relative;
  }
  
  .content{
    display:flex;
    flex-direction: row;
    position: relative;
    flex-flow: row wrap;
  }  
  .content-icon, .content-image{
    width: 50%;
  }
  .content-image{
    height:50vh;
    z-index:1;
  }
  .full-icon-image{ 
    margin: auto;
    height: 100%;
  }
}
@media (min-width: 1600px) {
  .hex-grid{
    width: 100%;
    margin-left: 10%;
  }
  .hex-grid .grid-item {
    width: 20%;
    margin: -3.5% -6%;
    margin-bottom: 0%;
  }
  .hex-grid .grid-item:nth-child(2n+2) {
    margin-top: 1%;
  }
  .hex-grid .grid-item:nth-child(8n+9) {
    clear: left;
  }
  .content-icon{
    display:flex;
    flex-direction: column;
    position: relative;
  }
  .content{
    display:flex;
    flex-direction: row;
    position: relative;
    flex-flow: row wrap;
  }
  .content-icon, .content-image{
    width: 50%;
  }
  .content-image{
    height:50vh;
    z-index:1;
  }
  .full-icon-image{ 
    margin: auto;
    width: 30%;
    height: 100%; 
    background-image:url(../../assets/Back-Full-Img.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
  }
}
.hex-grid .grid-item .inner {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.hex-grid .grid-item .inner .inner-inner {
  visibility: visible;
  overflow: hidden;
  width: 100%;
  padding-bottom: 40%;
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
  background-repeat: no-repeat;
  background-size: 50%;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  background-position: 50%;
}
@media (min-width: 1100px) {
  .hex-grid .grid-item .inner .inner-inner {
    padding-bottom: 40%;
  }
}
.hex-grid .grid-item .inner .inner-inner:hover {
  background-size: 60%;
}
.hex-grid .grid-item .inner .inner-inner .grid-info {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10%;
  background: #ffffff;
  color: #000000;
  text-decoration: none;
  text-align: center;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.35s;
}
.grid-item:hover{
  filter: blur(2px);
}
.hex-grid .grid-item .inner .inner-inner .grid-info .inner-text {
  display: table;
  position: relative;
  height: 100%;
  width: 46%;
  left: 27%;
}
.hex-grid .grid-item .inner .inner-inner .grid-info .inner-text .inner-text-inner {
  display: table-cell;
  vertical-align: middle;
}
.hex-grid .grid-item .inner .inner-inner {
  -webkit-backface-visibility: hidden;
}